<div id="frame-kids">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg">
  <div class="nav justify-content-end">
  <li class="nav-item">
    <a class="navbar-brand" href="#"><img src="../public/styles/images/logomain.png"></a>
    
                    <button type="button" id="logout" class="btn btn-link">Log out</button>
  </li>
</div>
</nav>
        </div>
    </div>
</div>
<!-- Calendar -->
<div class="feature-wrapper">
    <div class="container">

        <!-- Weekdays -->
        <div class="row" div id="days">
            <div class="col-sm-2 top" div id="chore">CHORES</div>
            <div class="col-sm-2 top" div id="monday">MONDAY</div>
            <div class="col-sm-2 top" div id="tuesday">TUESDAY</div>
            <div class="col-sm-2 top" div id="wednesday">WEDNESDAY</div>
            <div class="col-sm-2 top" div id="thursday">THURSDAY</div>
            <div class="col-sm-2 top" div id="friday">FRIDAY</div>
        </div>




        {{#each chores}}
        <div class="row">
            <div class="col-sm-2 white" id="chore-{{this.id}}">{{this.task}}</div>
            <div class="col-sm-2 white">
                <form>
                    <input type="checkbox" class="chore-status" data-day="monday" data-chore-id="{{this.id}}" data-user-id="{{this.UserId}}"
                    {{#if this.monday}}
                    data-state="checked" checked>
                    {{else}}
                    data-state="unchecked">
                    {{/if}}
                </form>
            </div>
            <div class="col-sm-2 white">
                <form>
                    <input type="checkbox" class="chore-status" data-day="tuesday" data-chore-id="{{this.id}}" data-user-id="{{this.UserId}}"
                    {{#if this.tuesday}}
                    data-state="checked" checked>
                    {{else}}
                    data-state="unchecked">
                    {{/if}}
                </form>
            </div>
            <div class="col-sm-2 white">
                <form>
                    <input type="checkbox" class="chore-status" data-day="wednesday" data-chore-id="{{this.id}}" data-user-id="{{this.UserId}}"
                    {{#if this.wednesday}}
                    data-state="checked" checked>
                    {{else}}
                    data-state="unchecked">
                    {{/if}}
                </form>
            </div>
            <div class="col-sm-2 white">
                <form>
                    <input type="checkbox" class="chore-status" data-day="thursday" data-chore-id="{{this.id}}" data-user-id="{{this.UserId}}"
                    {{#if this.thursday}}
                    data-state="checked" checked>
                    {{else}}
                    data-state="unchecked">
                    {{/if}}
                </form>
            </div>
            <div class="col-sm-2 white">
                <form>
                    <input type="checkbox" class="chore-status" data-day="friday" data-chore-id="{{this.id}}" data-user-id="{{this.UserId}}"
                    {{#if this.friday}}
                    data-state="checked" checked>
                    {{else}}
                    data-state="unchecked">
                    {{/if}}
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>