<nav class="navbar navbar-toggleable-md navbar-inverse">
    <button type="button" id="logout" class="btn btn-link">Log out</button>
</nav>




<!-- Calendar -->
<div class="feature-wrapper">
    <div class="container8">

        <!-- Weekdays -->
        <div class="row" div id="days">
            <div class="col-sm-2 top" id="chore">CHORES</div>
            <div class="col-sm-2 top" id="monday">MONDAY</div>
            <div class="col-sm-2 top" id="tuesday">TUESDAY</div>
            <div class="col-sm-2 top" id="wednesday">WEDNESDAY</div>
            <div class="col-sm-2 top" id="thursday">THURSDAY</div>
            <div class="col-sm-2 top" id="friday">FRIDAY</div>
        </div>


        {{#each chores}}
        <div class="row">

            <div class="col-sm-2 white" id="chore-{{this.id}}">{{this.task}}<button class="btn btn-dark btnChoreDelete"
                    data-chore-id="{{this.id}}" type="submit">Delete</button></div>

            <div class="col-sm-2 white">

                <form>
                    <input type="checkbox" class="chore-status" data-day="monday" data-chore-id="{{this.id}}"
                        data-user-id="{{this.UserId}}" {{#if this.monday}} data-state="checked" checked>
                    {{else}}
                    data-state="unchecked">
                    {{/if}}
                </form>

            </div>
            <div class="col-sm-2 white">
                <form>
                    <input type="checkbox" class="chore-status" data-day="tuesday" data-chore-id="{{this.id}}"
                        data-user-id="{{this.UserId}}" {{#if this.tuesday}} data-state="checked" checked>
                    {{else}}
                    data-state="unchecked">
                    {{/if}}
                </form>
            </div>
            <div class="col-sm-2 white">
                <form>
                    <input type="checkbox" class="chore-status" data-day="wednesday" data-chore-id="{{this.id}}"
                        data-user-id="{{this.UserId}}" {{#if this.wednesday}} data-state="checked" checked>
                    {{else}}
                    data-state="unchecked">
                    {{/if}}
                </form>
            </div>
            <div class="col-sm-2 white">
                <form>
                    <input type="checkbox" class="chore-status" data-day="thursday" data-chore-id="{{this.id}}"
                        data-user-id="{{this.UserId}}" {{#if this.thursday}} data-state="checked" checked>
                    {{else}}
                    data-state="unchecked">
                    {{/if}}
                </form>
            </div>
            <div class="col-sm-2 white">
                <form>
                    <input type="checkbox" class="chore-status" data-day="friday" data-chore-id="{{this.id}}"
                        data-user-id="{{this.UserId}}" {{#if this.friday}} data-state="checked" checked>
                    {{else}}
                    data-state="unchecked">
                    {{/if}}
                </form>
            </div>
        </div>
        {{/each}}
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="task-input" placeholder="Add a chore here"
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-dark" data-user-id="{{UserId}}" type="button" id="button-addon2">Add</button>
            </div>
        </div>
    </div>
</div>